.introduction {
    margin-top: 92px;
    margin-bottom: 92px;
    margin-left: 148px;
}

@media screen and (min-width: 1280px) {
    .introduction {
        width: 53.9%;
    }
}
@media screen and (max-width: 1024px) {
    .introduction {
        width: 67.38%;
        margin-left: 48px;
        margin-top: 92px;
    }
}
@media screen and (max-width: 768px) {
    .introduction {
        width: 93.75%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 88px;
        margin-bottom: 88px;
    }
}
@media screen and (max-width: 320px) {
    .introduction {
        width: 90%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 64px;
    }
}