.header__lead {
    margin-left: auto;
    margin-right: auto;
    width: 77%;
}
@media screen and (max-width: 1024px) {
    .header__lead {
        width: 90.625%;
    }
}
@media screen and (max-width: 768px) {
    .header__lead {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .header__lead {
        width: 100%;
    }
}