.cover__title {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    margin: 0;
    position: absolute;
    top: 245px;
    left: 312px;
    z-index: 3;
}
@media screen and (max-width: 1024px) {
    .cover__title {
        top: 195px;
        left: 232px;
    }
}
@media screen and (max-width: 768px) {
    .cover__title {
        top: 115px;
        left: 104px;
    }
}
@media screen and (max-width: 320px) {
    .cover__title {
        width: 90%;
        font-size: 32px;
        line-height: 35px;
        top: 33px;
        left: 16px;
        z-index: 3;
    }
}